<div class="top-conver effect6">
  <img class="user-image-chat" height="50px" src="assets/img/{{ (id_conver) ? id_conver : '2' }}.jpg">  
  <h2>{{ (user_conver != 'Name not found') ? user_conver : 'Selecciona un usuari' }}</h2>
</div>
<div class="chat-actual fondo">   
  <ul class="conver-chat-style" id="position-bottom">
    <li *ngFor="let message of conver" class="{{message.sender == me ? 'li-right' : 'li-left'}}">
      <span class="{{message.sender == me ? 'right' : 'left'}}">{{message.message}}</span>
    </li>
  </ul> 
</div>
 

